# AZURE STORAGE
AZURE_STORAGE_CONNECTION_STRING = "XXXXX"

# AZURE OPENAI CONFIG
AZURE_OPENAI_API_KEY ="XXXXX"
AZURE_OPENAI_ENDPOINT ="XXXXX"
AZURE_OPENAI_API_VERSION = "2024-12-01-preview"
AZURE_OPENAI_CHAT_DEPLOYMENT = "gpt-4o"

# ADD THE EMBEDDING MODEL CONFIG
AZURE_OPENAI_EMBEDDING_DEPLOYMENT = "text-embedding-3-small"

# AZURE AI SEARCH - KNOWLEDGE BASE CONFIG
AZURE_SEARCH_ENDPOINT = "XXXXX"
AZURE_SEARCH_API_KEY = "XXXXX"
AZURE_SEARCH_INDEX_NAME = "XXXXX"

# AZURE VIDEO INDEX 
AZURE_VI_NAME = "XXXXX"
AZURE_VI_LOCATION = "eastus"
AZURE_VI_ACCOUNT_ID = "XXXXX"
AZURE_SUBSCRIPTION_ID = "XXXXX"
AZURE_RESOURCE_GROUP = "XXXXX"

# AZURE MONITORING - OBSERVABILITY
APPLICATIONINSIGHTS_CONNECTION_STRING = "XXXXX"

# LANGCHAIN TRACING
LANGCHAIN_TRACING_V2 = true
LANGCHAIN_API_KEY = "XXXXX"
LANGCHAIN_ENDPOINT = "https://api.smith.langchain.com"
LANGCHAIN_PROJECT = "XXXXX"